#-----------------------------------------
# GitHub Actions Basics
#
# Tutorial by Denis Astahov
#-----------------------------------------
name: githubActions-practice-basics # Visible name of a file which will be used in configurations. 

# зададим глобальные переменные для данного файла
env:
  APPLICATION_NAME   : "MyFlask"
  DEPLOY_PACKAGE_NAME: "flask-deploy-ver-${{ github.sha }}" # github.sha == SHA-код коммита

on: #[push] # when to trigger this automatization ex: [push,pull_request]
  push:
    branches:
      - master # trigger this automatization file only after PUSH action and only into BRANCH "master"
  

jobs: # it's possible to have many different jobs in 1 file
  my_testing: # job-name

    runs-on: ubuntu-latest # which server to use (using dockerfile with latest ubuntu server) also called "runners"

    steps: # which steps to do (which commands to run) aka Tasks in Ansible
    - name: print Hello message
      run: echo "Hello, World from Testing job!" # the same as SHELL in Ansible
    
    - name: Run a multi-line sript
      run: |
        echo "Add other actions to build,"
        echo "test, and deploy your project."
        echo "Application name: ${{ env.APPLICATION_NAME }}"

    - name: List current folder
      run : ls -la 


  my_deploy: # job-name
    runs-on: ubuntu-latest
    needs: [my_testing] # джоба my_deploy запуститтся ТОЛЬКО ПОСЛЕ успешного выполнения джобы my_testing. без этого параметра джобы запускаются одновременно. 
    steps:
    - name: print Hello message
      run: echo "Hello, World from Deploy job!"
    
    - name: Printing Deployment package
      run: echo "Package name is ${{ env.DEPLOY_PACKAGE_NAME }}"
      
