name: CI-CD-Pipeline-to-AWS-ElasticBeanstalk
# глобальные переменные окружения
env:
  EB_PACKAGE_S3_BUCKET_NAME: "github-flask-app-test" #наименование s3 bucket
  EB_APPLICATION_NAME: "MyFlask" #наименование elastic beanstalk приложения
  EB_ENVIRONMENT_NAME: "MyFlask-env" #наименование elastic beanstalk окружения
  DEPLOY_PACKAGE_NAME: "flask_app_${{ github.sha }}.zip" #наименование самого приложения
  AWS_REGION_NAME: "ue-west-2" #регион AWS, где все расположено
  
on: 
  push:
    branches:
      - master

jobs:
  my-ci-part:
    runs-on: ubuntu-latest

    steps:
    - name: Git clone our repo
      uses: actions/checkout@v1

    - name: Create ZIP deployment package
      run: zip -r ${{ env.DEPLOY_PACKAGE_NAME }} ./ -x *.git* # запаковать приложение в текущей директории 
      # наименованием приложения берется из env. Но удаляем из наиенования содержимое *.git* (.git, .github, и т.д)
       
#сикреты задаем через Security - Secrets and Variables
    - name: Configure my AWS credentials
      uses: aws-actions/configure-aws-credentials@v1 # скрипт для авторизации в AWS
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key-id: ${{ secrets.AWS_ACCESS_SECRET_KEY }}
        aws-region: ${{ env.AWS_REGION_NAME }}

#закинуть файлы в s3 bucket        
    - name: Copy deployment package to S3 Bucket
    #команда CLI от AWS для копирования <file-name> <path_to_copy>
      run: aws s3 cp ${{ env.DEPLOY_PACKAGE_NAME }} s3://${{ env.EB_PACKAGE_S3_BUCKET_NAME }}/ 

# Print message
    - name: Print message for CI finish
      run: echo "CI Pipeline part successfully finished"

  my-cd-part:
    runs-on: ubuntu-latest
    needs: [my-ci-part] # runs only after my-ci-part job

    steps:
      #сикреты задаем через Security - Secrets and Variables
    - name: Configure my AWS credentials
      uses: aws-actions/configure-aws-credentials@v1 # скрипт для авторизации в AWS
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key-id: ${{ secrets.AWS_ACCESS_SECRET_KEY }}
        aws-region: ${{ env.AWS_REGION_NAME }}

    - name: Create new Elastic Beanstalk App
      run: |
        aws elasticbeanstalk create-application-version \
        --aplication-name ${{ env.EB_APPLICATION_NAME }} \
        --source-bundle S3Bucket="${{ env.EB_PACKAGE_S3_BUCKET_NAME }}", S3Key="${{ env.DEPLOY_PACKAGE_NAME }}" \
        --version-label "ver-${{ github.sha }}" \
        --description "CommitSHA-${{ github.sha }}"
        
    - name: Deploy new ElasticBeanstalk Application Version
      run: aws elasticbeanstalk update-environment --environment-name ${{ env.EB_ENVIRONMENT_NAME }} --version-label "ver-${{ github.sha }}"

# Print message
    - name: Print message for CD finish
      run: echo "CD Pipeline part successfully finished"


      
